@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: white;
  background-color: #030303;
}

body {
  background-color: #030303;
}

a,
p,
ul {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

/* ------------------- Partie Header -------------*/
header {
  background-image: url("./assets/logos/logo-dissonance.png");
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100vh;
  width: 100%;
}

.navbar {
  position: sticky;
  top: 1em;
  z-index: 160;
}

nav {
  margin: auto;
  width: 80%;
  padding: 0.2em;
  box-shadow: 5px 5px 80px #1da0c3;
}
nav div {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 0.5em;
  padding: 0.4em 0 0.7em 0;
}
nav .nav-link {
  cursor: pointer;
}
nav .nav-link:hover {
  color: #01e586 !important;
}
nav ul li div {
  display: flex;
  -moz-column-gap: 0.7em;
       column-gap: 0.7em;
  margin: 8px 0;
}
nav .rs-img {
  max-height: 1.5em;
}
nav #logo-img {
  height: 3em;
}

/*---------------- Partie Main ----------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Section présentation */
  /* Section Galerie */
  /* Section link Beatport et band camp */
}
main .presentation-section {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  padding: 5em 0 7em 0;
}
main .presentation-section p {
  font-size: 1.3em;
  line-height: 1.6em;
}
main .presentation-section h1 {
  margin: auto;
  font-size: 2em;
}
main .presentation-section button {
  position: relative;
  margin: auto;
  padding: 0.5em 2em;
  color: black;
  border-radius: 0.5em;
  font-size: 1.1em;
  font-weight: 700;
  border: 4px dashed black;
  background-color: #e6e5e1;
  transition: 300ms ease;
}
main .presentation-section button:hover {
  border-style: dashed;
  color: white;
  box-shadow: 0px 0px 25px #1da0c3;
  background-color: #333;
  border-color: #01e586;
}
main .galery-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 7em 0;
  justify-content: space-between;
}
main .galery-section .galery-div {
  border: 1px solid #00e586;
  width: 15em;
  height: 10em;
}
main .beat-band-link-section {
  padding: 7em 0 10em 0;
}
main .beat-band-link-section h2 {
  pointer-events: none;
}
main .beat-band-link-section .dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}
main .beat-band-link-section .container-lg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
main .beat-band-link-section .container-lg .card {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4px;
}
main .beat-band-link-section .container-lg .card:before {
  content: "";
  z-index: 110;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
main .beat-band-link-section .container-lg .card:after {
  content: "";
  z-index: 110;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
main .beat-band-link-section .container-lg .card ul {
  z-index: 110;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
  color: white;
}
main .beat-band-link-section .container-lg .card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #e6e5e1;
  color: #d3d3d5;
}
main .beat-band-link-section .container-lg .card h2 {
  z-index: 150;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 130px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
}
main .beat-band-link-section .container-lg .card .fa-arrow-right {
  background-color: transparent;
  z-index: 150;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}
main .beat-band-link-section .container-lg .card p {
  background-color: transparent;
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 70px;
  color: #333;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  transition: all 0.2s ease;
}
main .beat-band-link-section .container-lg .card .pic {
  z-index: 100;
  width: 400px;
  height: 200px;
  background-image: url(./assets/pictures/banniere-bandcamp.jpg);
  background-size: 100% 100%;
}
main .beat-band-link-section .container-lg .card .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}
main .beat-band-link-section .container-lg .card .social i:nth-of-type(1) {
  transition-delay: 0.4s;
  background: transparent;
}
main .beat-band-link-section .container-lg .card .social i:nth-of-type(2) {
  transition-delay: 0.3s;
  background: transparent;
}
main .beat-band-link-section .container-lg .card .social i:nth-of-type(3) {
  transition-delay: 0.2s;
  background: transparent;
}
main .beat-band-link-section .container-lg .card .social i:nth-of-type(4) {
  transition-delay: 0.1s;
  background: transparent;
}
main .beat-band-link-section .container-lg .card:hover i {
  opacity: 1;
  transform: scale(1);
}
main .beat-band-link-section .container-lg .card button {
  z-index: 115;
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #1da0c3;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 1000ms ease;
  mix-blend-mode: darken;
}
main .beat-band-link-section .container-lg .card button i {
  font-size: 3rem;
}
main .beat-band-link-section .container-lg .card:hover button {
  transform: scale(16.5);
}
main .beat-band-link-section .container-lg .card:hover p {
  color: #fff;
}
main .beat-band-link-section .container-lg .card:hover .pic {
  filter: grayscale(0);
}
main .beat-band-link-section .container-lg .card2 .pic {
  background-image: url("./assets/pictures/banniere-beatport.jpg");
}
main .beat-band-link-section .container-lg .card2 button {
  z-index: 125;
  background-color: #01e586;
}
main .beat-band-link-section i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  transform: scale(0.1);
  transition: all 0.2s ease;
  z-index: 110;
}

/*---------------- Partie Footer -------------*/
footer .footer-section {
  border-top: 1px solid white;
  /* width: 80%; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4em;
  /* Fenêtre google map */
}
footer .footer-section .google-map-iframe {
  height: 13em;
  width: 25em;
}
footer .footer-section .rs-footer-div {
  display: flex;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
footer .footer-section .useful-link-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-section .useful-link-div h5 {
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
}
footer .footer-section .useful-link-div ul {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
footer .footer-section a:hover {
  color: #01e586;
}
footer .footer-contact-div {
  row-gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer a {
  color: white;
}
footer #footer-logo-img {
  height: 3em;
}
footer a img {
  max-height: 1.5em;
  transition: all 500ms ease-in-out;
}
footer a img:hover {
  transform: rotateY(360deg);
}
footer .footer-mail-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2em;
}
footer .footer-mail-div p {
  text-align: center;
}
footer .footer-mail-div .fa-envelope,
footer .footer-mail-div .fa-phone {
  margin-right: 0.5em;
}
footer .footer-bottom-section {
  padding: 1.6em;
  text-align: center;
  border-top: 1px solid white;
}

/* Gestion du responsive */
@media (max-width: 768px) {
  .navbar {
    width: 90%;
  }
  main .presentation-section {
    padding: 4em 1em;
  }
  main .presentation-section p {
    text-align: center;
  }
  main .galery-section {
    justify-content: center;
    padding: 4em 0;
  }
  main .galery-section .galery-div {
    border: 1px solid orange;
    width: 90%;
    height: auto;
  }
  main .beat-band-link-section {
    padding: 3em 0 5em 0;
  }
  main .beat-band-link-section .container-lg {
    flex-direction: column;
    row-gap: 2em;
  }
  main .beat-band-link-section .container-lg .card {
    width: 350px;
  }
  footer .footer-section {
    flex-direction: column;
    row-gap: 2em;
  }
  footer .footer-section .google-map-iframe {
    width: 100%;
  }
  footer .footer-section .useful-link-div {
    align-items: center;
  }
  footer .footer-section .useful-link-div ul {
    align-items: center;
  }
  footer .footer-bottom-section {
    padding: 0.5em 0;
  }
  footer .footer-bottom-section p {
    padding: 0 0.5em;
  }
}/*# sourceMappingURL=styles.css.map */