$bg-color: #e6e5e1;
$shdow-gray: #d3d3d5;
$band-camp: #1da0c3;
$beatport: #01e586;
$black: #030303;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
    background-color: #030303;
}
body {
    background-color: #030303;
}
a,
p,
ul {
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

/* ------------------- Partie Header -------------*/
header {
    background-image: url('./assets/logos/logo-dissonance.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 100vh;
    width: 100%;
}

.navbar {
    position: sticky;
    top: 1em;
    z-index: 160;
}
nav {
    margin: auto;
    width: 80%;
    padding: 0.2em;
    box-shadow: 5px 5px 80px $band-camp;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        row-gap: 0.5em;
        padding: 0.4em 0 0.7em 0;
    }
    .nav-link {
        cursor: pointer;
    }
    .nav-link:hover {
        color: $beatport !important;
    }
    ul li div {
        display: flex;
        column-gap: 0.7em;
        margin: 8px 0;
    }
    .rs-img {
        max-height: 1.5em;
    }
    #logo-img {
        height: 3em;
    }
}

/*---------------- Partie Main ----------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Section présentation */
    .presentation-section {
        display: flex;
        flex-direction: column;
        row-gap: 3em;
        padding: 5em 0 7em 0;
        p {
            font-size: 1.3em;
            line-height: 1.6em;
        }
        h1 {
            margin: auto;
            font-size: 2em;
        }
        button {
            position: relative;
            margin: auto;
            padding: 0.5em 2em;
            color: black;
            border-radius: 0.5em;
            font-size: 1.1em;
            font-weight: 700;
            border: 4px dashed black;
            background-color: $bg-color;
            transition: 300ms ease;
        }
        // button::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        // }
        button:hover {
            border-style: dashed;
            color: white;
            //text-shadow: 0px 0px 1px black;
            box-shadow: 0px 0px 25px $band-camp;
            background-color: #333;
            border-color: $beatport;
        }
    }

    /* Section Galerie */
    .galery-section {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        padding: 7em 0;
        justify-content: space-between;
        .galery-div {
            border: 1px solid #00e586;
            width: 15em;
            height: 10em;
        }
    }

    /* Section link Beatport et band camp */
    .beat-band-link-section {
        padding: 7em 0 10em 0;
        h2 {
            pointer-events: none;
        }
        .dr {
            position: absolute;
            bottom: 16px;
            right: 16px;
            width: 100px;
        }
        .container-lg {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 3em;
            // card band camp
            .card {
                position: relative;
                width: 500px;
                height: 200px;
                background-color: #fff;
                overflow: hidden;
                margin-bottom: 4px;

                &:before {
                    content: '';
                    z-index: 110;
                    position: absolute;
                    top: -10px;
                    left: 32px;
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    background-color: $bg-color;
                }
                &:after {
                    content: '';
                    z-index: 110;
                    position: absolute;
                    bottom: -10px;
                    left: 32px;
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    background-color: $bg-color;
                }
                ul {
                    z-index: 110;
                    position: absolute;
                    left: 39px;
                    top: 5px;
                    list-style-type: none;
                    color: white;
                    li {
                        width: 2px;
                        height: 2px;
                        border-radius: 2px;
                        margin: 6px 0;
                        background-color: $bg-color;
                        color: $shdow-gray;
                    }
                }
                h2 {
                    z-index: 150;
                    font-family: 'Poppins', sans-serif;
                    position: absolute;
                    bottom: 0;
                    right: 130px;
                    font-size: 60px;
                    font-weight: 700;
                    color: #fff;
                    background-color: transparent;
                }

                .fa-arrow-right {
                    background-color: transparent;
                    z-index: 150;
                    position: absolute;
                    right: 75px;
                    bottom: 25px;
                    font-size: 40px;
                    cursor: pointer;
                }
                p {
                    background-color: transparent;
                    z-index: 99;
                    position: absolute;
                    top: 20px;
                    right: 70px;
                    color: #333;
                    opacity: 0.7;
                    font-size: 12px;
                    letter-spacing: 1px;
                    writing-mode: vertical-lr;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                .pic {
                    z-index: 100;
                    width: 400px;
                    height: 200px;
                    background-image: url(./assets/pictures/banniere-bandcamp.jpg);
                    background-size: 100% 100%;
                    //filter: grayscale(100%);
                }

                .social {
                    position: absolute;
                    left: 60px;
                    top: 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-pack: distribute;
                    justify-content: space-around;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: 180px;
                    height: 64px;
                    border-radius: 80px;
                }

                .social i:nth-of-type(1) {
                    -webkit-transition-delay: 0.4s;
                    transition-delay: 0.4s;
                    background: transparent;
                }

                .social i:nth-of-type(2) {
                    -webkit-transition-delay: 0.3s;
                    transition-delay: 0.3s;
                    background: transparent;
                }

                .social i:nth-of-type(3) {
                    -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                    background: transparent;
                }

                .social i:nth-of-type(4) {
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                    background: transparent;
                }

                &:hover i {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

                button {
                    z-index: 115;
                    position: absolute;
                    right: 14px;
                    bottom: 14px;
                    width: 30px;
                    height: 30px;
                    background-color: $band-camp;
                    border: none;
                    border-radius: 30px;
                    cursor: pointer;
                    outline: none;
                    transition: all 1000ms ease;
                    mix-blend-mode: darken;

                    i {
                        font-size: 3rem;
                    }
                }

                &:hover button {
                    transform: scale(16.5);
                }

                &:hover p {
                    color: #fff;
                }

                &:hover .pic {
                    filter: grayscale(0);
                }
            }
            // card beatport
            .card2 {
                .pic {
                    background-image: url('./assets/pictures/banniere-beatport.jpg');
                }
                button {
                    z-index: 125;
                    background-color: $beatport;
                }
            }
        }
        i {
            opacity: 0;
            font-size: 18px;
            color: #fff;
            will-change: transform;
            -webkit-transform: scale(0.1);
            transform: scale(0.1);
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            z-index: 110;
        }
    }
}

/*---------------- Partie Footer -------------*/
footer {
    .footer-section {
        border-top: 1px solid white;
        /* width: 80%; */
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.4em;
        /* Fenêtre google map */
        .google-map-iframe {
            height: 13em;
            width: 25em;
        }
        .rs-footer-div {
            display: flex;
            column-gap: 0.5em;
        }
        .useful-link-div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .useful-link-div h5 {
            font-size: 1.4em;
            margin: 0 0 0.5em 0;
        }
        .useful-link-div ul {
            display: flex;
            flex-direction: column;
            row-gap: 1em;
        }
    }
    .footer-section a:hover {
        color: $beatport;
    }
    .footer-contact-div {
        row-gap: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        color: white;
    }
    #footer-logo-img {
        height: 3em;
    }
    a img {
        max-height: 1.5em;
        transition: all 500ms ease-in-out;
    }
    a img:hover {
        transform: rotateY(360deg);
    }
    .footer-mail-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.2em;
    }
    .footer-mail-div p {
        text-align: center;
    }
    .footer-mail-div .fa-envelope,
    .footer-mail-div .fa-phone {
        margin-right: 0.5em;
    }
    .footer-bottom-section {
        padding: 1.6em;
        text-align: center;
        border-top: 1px solid white;
    }
}

/* Gestion du responsive */
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
    .navbar {
        width: 90%;
        button {
            // color: white;
            // color: white !important;
            // //background-color: #fff;
        }
        span {
            // color: white !important;
        }
    }
    main {
        .presentation-section {
            padding: 4em 1em;
        }
        .presentation-section p {
            text-align: center;
        }
        .galery-section {
            justify-content: center;
            padding: 4em 0;
        }
        .galery-section .galery-div {
            border: 1px solid orange;
            width: 90%;
            height: auto;
        }
        .beat-band-link-section {
            padding: 3em 0 5em 0;
            .container-lg {
                flex-direction: column;
                row-gap: 2em;
                .card {
                    width: 350px;
                }
            }
        }
    }
    footer {
        .footer-section {
            flex-direction: column;
            row-gap: 2em;
            .google-map-iframe {
                width: 100%;
            }
            .useful-link-div {
                align-items: center;
                ul {
                    align-items: center;
                }
            }
        }
        .footer-bottom-section {
            padding: 0.5em 0;
            p {
                padding: 0 0.5em;
            }
        }
    }
}
